.section-form {
  display: flex;
  align-items: center;
}
.section-input {
  width: 272px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 7px 16px 7px 16px;
  outline: none;
  border: none;
  border: 1px solid #808080;
  border-radius: 4px;
}
.section-input:hover {
  border-color: #000000;
}
.section-input:active {
  border-color: #4e75ff;
}

.section-btn {
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ffffff;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #4e75ff;
  border: none;
}
.section-btn:hover {
  background-color: #6c8cff;
}
