/* .section-output {
  margin: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.section-list {
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .section-list {
    margin: 5px auto;
    max-width: 360px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .section-list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .section-list {
    max-width: 1192px;
  }
}
.section-item {
  position: relative;
}
/* .section-link {
} */

.section-img {
  width: 360px;
  height: 200px;
  position: relative;
}
.section-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 250ms ease;
}

.section-soc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #808080;
  background-color: #ffffff;
  padding: 4px 25px;
  display: flex;
  justify-content: space-between;
}
.section-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2e2f42;
  font-size: 12px;
  letter-spacing: 0.04em;
  max-height: 40px;
}
.section-props {
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
}
.section-props-count {
  font-weight: 400;
  line-height: 2;
  text-align: center;
}
